@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "AGaramondPro";
  src: url(/src/assets/fonts/AGaramondPro-Regular.otf);
}

.App {
  text-align: center;
}
* {
  font-family: "Montserrat", sans-serif;
}

/* Feature */
.feature-container {
  height: 100vh;
  width: 100%;

  background-size: cover !important;
  background-position: center !important;
  box-sizing: border-box;
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.feature-content {
  height: 100vh;
  margin: 70px 124px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.feature__title {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 160px;
}
.feature__title--pri {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
}
.feature__title--sec {
  font-size: 154px;
  font-family: "AGaramondPro", sans-serif;
  margin-top: -38px;
  letter-spacing: 6px;
}
.feature__title--thr {
  font-size: 60px;
  font-family: "AGaramondPro", sans-serif;
  font-weight: 700;
  margin-top: -55px;
  margin-left: 8px;
  letter-spacing: 8px;
}
.feature__text {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  margin-top: -14px;
  margin-left: 6px;

  width: 530px;
}

.feature-container--contact {
  width: 100%;
  height: 400px;
  background: #14274a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
/* Header */

.main-header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 88%;
  justify-content: space-between;
  z-index: 10;
  left: 0;
  right: 0;
  margin: auto;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
}

.nav-links {
  margin-right: 35px;
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.first-link {
  text-decoration: underline;
}
/* LOGO */
.logo {
  color: #14274a;

  background: #e0b973;
  width: 20%;
  min-width: 200px;
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  height: 105px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  font-family: "AGaramondPro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pri-text {
  font-size: 40px;
  position: relative;
  text-align: center;
}
.sec-text {
  font-size: 15px;
  letter-spacing: 8px;
  padding-top: 0px;
  text-align: center;
  margin-top: -10px;
}

/* Home */
.home {
}

.home-content {
  width: 76%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.home-welcome {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 32px;
  margin-top: 80px;
}

.home-card {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}
.home-card__content {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.home-card__title {
  font-size: 32px;
  margin-bottom: 15px;
}
.home-card__text {
  margin-bottom: 15px;
  font-size: 21px;
}
.home-card__line {
  position: absolute;
  height: calc(100% - 5px);
  left: -35px;
  border-left: 1px solid black;
}
.button {
  background: #e0b973;
  font-size: 20px;
  border: 2px solid #e0b973;
  color: white;
  border-radius: 8px;
  width: 180px;
  height: 55px;
  cursor: pointer;
}
/* Button */

.feature-button {
  background: #e0b973;
  border: 2px solid #e0b973;

  color: white;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  outline: none;
}
.feature-button__container {
  width: 200px;
  align-self: center;
  justify-self: center;
  position: absolute;
  bottom: 40px;
}

.scroll-button {
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
}
.scroll-button > img {
  cursor: pointer;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 180px;
  background: #14274a;
  position: relative;
  bottom: 0px;
  color: White;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.logo--v2 {
  width: 100px;
  margin-bottom: 8px;
  font-family: "AGaramondPro", sans-serif;
}
.pri-text--v2 {
  font-size: 25px;
  position: relative;
  text-align: center;
}
.sec-text--v2 {
  font-size: 9px;
  letter-spacing: 4px;
  padding-top: 5px;
  text-align: center;
  margin-top: -10px;
}
.about > div {
  cursor: pointer;

  margin-top: 14px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.find-us > div {
  cursor: pointer;

  margin-top: 14px;
  display: flex;
  align-items: center;
}

.footer-email {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
.footer-email > input {
  height: 32px;
  background: transparent;
  color: white;
  border: 2px solid #e0b973;
  font-size: 16px;
}

.footer-email > input::placeholder {
  color: white;
  font-size: 16px;
  padding-left: 8px;
}
.footer-email > button {
  height: 40px;
  border: 2px solid #e0b973;
  border-radius: 2px;
  width: 80px;
  background: #e0b973;
  font-size: 16px;
  cursor: pointer;
}

/* Contact-us Page */
.contact-us__container {
  width: 74%;
  margin: auto;
  height: 850px;
}
.contact-us__title {
  margin-top: 100px;
}
.contact-us__title--pri {
  font-size: 50px;
  font-family: "AGaramondPro", sans-serif;
}
.contact-us__title--sec {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.contact-us__content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.contact-us__content-info {
  width: 430px;
}
.contact-us__content-info--one {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.contact-us__phone {
  margin-top: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.contact-us__email {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.contact-us__form {
  display: flex;
  flex-direction: column;
}

.formBlock {
  width: 400px;
  margin-top: 10px;
}
.formInput {
  width: 390px;
  height: 40px;
  border: 2px solid black;
  font-size: 20px;
}
.form-label {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.formArea {
  width: 390px;
  height: 260px;
  border: 2px solid black;
  font-size: 18px;
}

.contact-form__button {
  background: #e0b973;
  width: 100px;
  align-self: flex-end;
  height: 50px;
  color: white;
  font-size: 22px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #e0b973;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

/* testimonial */

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  color: #14274a;
  margin-bottom: 95px;
}

.testimonial-title {
  font-size: 36px;
  margin-top: 7px;
}
.testimonial-text {
  font-size: 24px;
  margin-top: 7px;
}

.testimonial-info {
  font-size: 18px;
  margin-top: 7px;
}
.arrow-container {
  margin-top: 8px;
}

.arrow {
  background: #e0b973;
  width: 50px;
  text-align: center;
  height: 40px;
  display: inline-block;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.arrow > img {
  margin-top: auto;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 55%;
  height: 40%;
  width: 40%;
  margin: -15% 0 0 -25%;
}

/* facilities page */

.facilities-title {
  width: 30%;
  text-align: center;
  margin: 50px auto 0px;
  font-size: 40px;
  font-family: "AGaramondPro", sans-serif;
  letter-spacing: 4px;
  font-weight: 700;
}
.facilities-description {
  width: 78%;
  margin: 15px auto 40px;
  font-size: 22px;
  text-align: center;
}

.facilities-content {
  width: 82%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facility-card {
  margin-bottom: 90px;
  position: relative;
  border: 2px solid #14274a;
  border-radius: 6px;
}

.facility-card__image-name {
  width: 56%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: white;
  font-size: 46px;
  height: 100px;
  font-family: "AGaramondPro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
/* Rooms page */
.rooms-title {
  width: 30%;
  margin: 50px auto 0px;
  text-align: center;
  font-size: 40px;
  font-family: "AGaramondPro", sans-serif;
  letter-spacing: 4px;
  font-weight: 700;
}
.rooms-description {
  width: 78%;
  margin: 15px auto 40px;
  font-size: 22px;
  text-align: center;
}
.rooms-content {
  width: 70%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-card {
  margin-bottom: 90px;
  position: relative;
  max-height: 1100px;
  width: 100%;
  border: 2px solid #14274a;
  border-radius: 6px;
}
.room-card > img {
  max-height: 750px;
  min-height: 750px;
  height: 750px;
  width: 100%;
}
.slider {
  max-height: 750px;
  min-height: 750px;
  height: 750px;
  width: 100%;
  text-align: center;
}

.room-card__image-name {
  width: 100%;
  /* position: absolute;
  bottom: 160px;
  left: 0;
  right: 0; */
  text-align: center;
  background: #14274a;
  font-size: 46px;
  height: 100px;
  font-family: "AGaramondPro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  margin-top: -4px;
}

.room-card__footer {
  width: 100%;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  text-align: center;
  background: white;
  height: 160px;
  font-family: "AGaramondPro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
.room-card__footer-left {
  display: flex;
  align-items: center;
  width: 55%;
  margin-left: 80px;
}
.plus-icon__container {
  background: #e0b973;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.room-card__footer-left__title {
  margin-left: 15px;
  color: #14274a;
}
.room-card__footer-left__button {
  margin-right: 80px;
}

/* shape */
#triangle-up {
  position: absolute;
  top: -35px;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 35px solid #14274a;
}
